.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.link-element {
  margin-bottom: 5px;
}
