/*
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*/

.app {
  height: 100vh;
}

.header {
  height: 7%;
}

.main {
  height: 86%;
}

.footer {
  height: 7%;
}
